* {
    margin: 0;
    padding: 0;
}

@media print {
    @page {
        width: 7in;
        height: 9in;
    }
    #bill {
        width: 7in;
        height: 9in;
    }
}

body {
    background-color: blueviolet !important;
}

#row {
    width: 100%;
}

#col1,
#col2 {
    background-color: skyblue;
}

#super {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#bill {
    background-color: white;
    height: 7.2in;
    width: 5.6in;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    display: flex;
    flex-direction: column;
}


/* default for all pages */

@page {
    size: 6in;
    margin: 2in;
}

#header {
    display: flex;
    align-content: center;
    justify-content: center;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#data {
    border-collapse: collapse;
    width: 100%;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    /* column-count: 4;
    height: 100px; */
    /* flex-direction: column; */
    /* -webkit-columns: 4 150px;
    -moz-columns: 4 150px;
    columns: 4 150px;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em; */
    /* line-height: 1.4; */
}


/* margin on left page */

@page :left {
    margin: 1in;
}


/* margin on right page */

@page :right {
    margin: 3in;
}


/* top margin on first page */

h1 {
    color: green;
}